
@inject HttpClient Http

<h3>ListCategories</h3>
@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Category> Categories;
    protected override async Task OnInitializedAsync()
    {
        Categories = await Http.GetFromJsonAsync<List<Category>>("api/Categories");
    }
}
